aside {background-color: floralwhite; grid-column: 1/2; grid-row: 1/6;}
ul {list-style: square;}
header {background-color: linen; grid-column: 2/3; grid-row: 1/2;}
nav {display:flex; justify-content: right; background-color: linen; grid-column: 2/3; grid-row: 2/3;}
footer {background-color: linen; grid-column: 2/3; grid-row: 5/6; text-align: center;}
main {display: flex; flex-direction: column; background-color: linen; grid-column: 2/3; grid-row: 3/4;}
.even_buttons {display: flex; justify-content: space-between;}
.right_buttons {display: flex; justify-content: right;}
.green_button {background-color: darkslategray; color: white;}
#grey_button {background-color: #56536A; color: white;}
#red_button {background-color: #9B332C; color: white;}
button {border-radius: 1em; margin: 0 0.5em 0 0.5em; padding: 1em; border-style: none;}
h2 {text-align: center; font-size: 2em;}
h1 {text-align: center;}
nav > div {margin-right: 1em;}
textarea {border-color: #256993; margin: 1em 0.5em 1em 0.5em; border-width: 0.25em; height: 20em;}

body {display:grid; grid-template-columns: 15em 4fr; grid-template-rows: 5em 2em 20em 4.25em 10em; 
margin: 0;
background-color: linen;
color:#256993;
font-family: 'Roboto Mono', monospace;}

@media screen and (max-width: 600px) {
    body {display:flex; flex-direction: column; gap: 0.5em;}
    textarea {height:10em;}
}